BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 140
SpacesBeforeTrailingComments: 1
#AlignTrailingComments: false # 对齐连续行的注释
AllowShortFunctionsOnASingleLine: None
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements